
.cssbutton {
display: inline-block;
outline: none;
cursor: pointer;
text-align: center;
text-decoration: none;
font: 14px/100% Arial, Helvetica, sans-serif;
padding: .5em 2em .55em;
text-shadow: 0 1px 1px rgba(0,0,0,.3);
-webkit-border-radius: .5em; 
-moz-border-radius: .5em;
border-radius: .5em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.cssbutton:hover {
text-decoration: none;
}
.cssbutton:active {
position: relative;
top: 1px;
}
.blue {
    background: -moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
    border: 1px solid #0076A3;
    color: #D9EEF7;
}
.blue:hover {
    background: -moz-linear-gradient(center top , #0095CC, #00678E) repeat scroll 0 0 transparent;
}
.blue:active {
    background: -moz-linear-gradient(center top , #0078A5, #00ADEE) repeat scroll 0 0 transparent;
    color: #80BED6;
}

