{% extends "experiment.html" %}

{% block displaybody %}
	<table id="growthmeasure" style="display:table;">
		<tr>
			<th>Cultivation_ID</th>
			<th>Day</th>
			<th>MS_height</th>
			<th>MS_spike_height</th>
			<th>Tiller_number</th>
			<th>Max_tiller_angle</th>
			<th>LAI</th>
			<th>MS_leaf_number</th>
			<th>Spike_number</th>
			<th>eSpike_number</th>
			<th>Leaf_dry_wight</th>
			<th>Stem_dry_weight</th>
			<th>Root_dry_weight</th>
			<th>Spike_dry_weight</th>
		</tr>
	</table>

{% endblock %}